body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #30383B;
    color: #C2C2C2;
    width: 100%;
    height: 100%;
    position: relative;
}

hr {
    background-color: white;
    border: none;
    height: 3px;
}

footer {
    text-align: center;
}

.text-thin {
    font-weight: 100;
}

.text-muted {
    color: white;
}

.full-width {
    width: 100%;
}

.divider {
    margin-bottom: 10px;
}

.btn-custom {
  background-color: #2572DE;
}

.rounded-corners {
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.image-spacing {
    margin-top: 2em;
}

.hoverable:hover {
    transition: box-shadow .6s;
    box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

.card {
    border-radius: 10px;
    background: 0;
    padding-bottom: 10px;
    background-color: #3B4447;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
    max-height: 50%;
    max-width: 50%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;
  max-width: 300px;
}

.intro {
    display: table;
    height: 100vh;
    text-align: center;
    color: #fff;
    width: 100%;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.contacts-section {
  height: 70vh;
  background-color: #454545;
  box-shadow: inset 4px 8px 17px 0 rgba(0, 0, 0, 0.2),inset 4px 6px 20px 0 rgba(0, 0, 0, 0.19), inset 0 -5px 10px rgba(0, 0, 0, 0.19);
  display: table;
  text-align: center;
  width: 100%;
}

.contacts-body {
  display: table-cell;
  vertical-align: middle;
}

.contacts-button {
  background-color: transparent;
  background: none;
  border: 0;
}

.contacts-button:hover {
  background-color: transparent;
  background: none;
  border: 0;
  border-bottom: 5px solid;
  border-color: white;
  border-radius: 10%;
}

.contacts-button:active {
  background: none !important;
  background-color: transparent !important;
  border: none !important;
  transform: none !important;
  box-shadow: none !important;
}

.contacts-button:focus {
  background: none;
  background-color: transparent;
  border: none;
}

.contacts-font {
  color: white;
  border: 2px;
  border-color: transparent;
  font-size: 5em !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contacts-font:hover {
  font-size: 10em !important;
  transition: font-size .3s;
}

.navbar-custom .navbar-brand {
    color: white;
}

.navbar-custom .navbar-nav>li>a {
    color: white;
}

.navbar-custom {
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 15px 0;
    background: transparent;
    padding-bottom: 0;
    margin-bottom: 0;
    color: white;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.navbar-custom .scrolled-nav {
    padding: 0;
    background-color: #2572DE;
    background: #2572DE;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scrolled-nav {
    padding: 0;
    background-color: #2572DE;
    background: #2572DE;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-inverse .navbar-nav>.active {
    border-bottom: 3px solid !important;
    border-color: white;
    background: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    border-bottom: 3px;
    border-color: white;
    background: none;
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background: none;
    background-color: transparent;
    border: none;
}

.modal-dialog {
  color: white;
}

.modal-content {
  background-color: #3B4447;
}


.modal-body {
  background-color: #3B4447;
}
