body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #30383B;
    color: #C2C2C2;
    width: 100%;
    height: 100%;
    position: relative;
}

hr {
    color: #7d97ad;
    background-color: #7d97ad;
    border: none;
    height: 3px;
}

img {}

footer {
  text-align: center;
}

.text-thin {
    font-weight: 100;
}

.text-muted {
    color: white;
}

.rounded-corners {
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.image-spacing {
    margin-top: 2em;
}

.hoverable {
    transition: box-shadow .55s;
    box-shadow: 0;
}

.hoverable:hover {
    transition: box-shadow .60s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    border-radius: 10px;
    background: 0 0;
    background-color: #3B4447;
    transition-duration: 0.4s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
    max-height: 50%;
    max-width: 50%;
}

.navbar-logo {
    max-width: 100%;
    max-height: 100%;
}

.modal-content {
    color: black;
}

.intro {
    display: table;
    height: 100vh;
    text-align: center;
    color: #fff;
    width: 100%;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.navbar-custom .navbar-brand {
    color: white;
}

.navbar-custom .navbar-nav>li>a {
    color: white;
}

.navbar-custom {
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 15px 0;
    background: transparent;
    padding-bottom: 0;
    margin-bottom: 0;
    color: white;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.navbar-custom .scrolled-nav {
    padding: 0;
    background-color: #2572DE;
    background: #2572DE;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scrolled-nav {
    padding: 0;
    background-color: #2572DE;
    background: #2572DE;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-inverse .navbar-nav>.active {
    border-bottom: 3px solid !important;
    border-color: white;
    background: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    border-bottom: 3px;
    border-color: white;
    background: none;
}

.contacts-section {
    height: 50vh;
    background-color: #454545;
    box-shadow: 4px 8px 17px 0 rgba(0, 0, 0, 0.2), 4px 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: table;
    text-align: center;
    width: 100%;
}

.contacts-body {
  display: table-cell;
  vertical-align: middle;

}

.contacts-button {
  background-color: none;
  background: none;
  border: 0;
  vertical-align: middle;
}

.contacts-button:hover {
  background-color: none;
  background: none;
  border: 0;
  border-bottom: 5px solid;
  border-color: white;
  border-radius: 10%;
}

.contacts-button:focus {
  background: none;
  background-color: none;
  border: none;
}

.contacts-font {
    color: white;
    border: 2px;
    border-color: none;
    font-size: 5em !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.contacts-font:hover {
  font-size: 10em !important;
  transition: font-size .3s;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;
  max-width: 300px;
}
